ion-header {
  &::after {
    display: none !important;
  }
  position: absolute;
  top: 0;
  ion-toolbar {
    --background: transparent;
    box-shadow: none;
    --border-width: 0px;
    --padding-start: 15px;
    --padding-end: 15px;
    min-height: 47px;
    position: relative;
    ion-back-button {
      --icon-font-size: 18px;
      position: relative;
      z-index: 2;
      --min-width: 25px;
      --color: #fff;
    }
    ion-title {
      font-size: 16px;
      padding: 0px 18px;
      color: #fff;
      font-weight: 600;
      @media only screen and (min-width:768px){
        font-size: 28px;
      }
    }
  }
}

ion-content {
  --background: none;
  background-image: url("../../../assets/img/bgshape.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fbfdff;
  --padding-top: 5px;
  [wrapper] {
    margin-top: 80px;
    border-radius: 30px 30px 0 0;
    background-color: #fbfdff;
    padding: 15px;
    .slidr {
      position: relative;
      top: -48px;

      [slidebox] {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 25px;
        width: 100%;
        position: relative;
        @media only screen and (min-width:768px) {
          height: 50vh;
        }
        ion-icon[name="heart"] {
          color: #797b7d;
          font-size: 20px;
          background-color: #fff;
          padding: 7px;
          border-radius: 100px;
          position: absolute;
          left: 15px;
          top: 15px;
          &.active {
            color: var(--ion-color-primary);
          }
          @media only screen and (min-width:768px){
            font-size: 38px;
          }
        }
        ion-icon[name="play"] {
          color: #fff;
          font-size: 26px;
          background-color: var(--ion-color-primary);
          padding: 12px;
          border-radius: 100px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          
        }
        // &::after {
        //   position: absolute;
        //   content: "";
        //   height: 100%;
        //   width: 95%;
        //   background: rgba(0, 0, 0, 0.1);
        //   border-radius: 25px;
        //   left: 6px;
        //   bottom: -13px;
        //   z-index: -1;
        // }
        // &::before {
        //   position: absolute;
        //   content: "";
        //   height: 100%;
        //   width: 90%;
        //   background: rgba(0, 0, 0, 0.1);
        //   border-radius: 25px;
        //   left: 13px;
        //   bottom: -24px;
        //   z-index: -1;
        // }
      }
      [quotesafter] {
        margin-top: 45px;
        position: relative;
        &::before {
          content: "";
          background-image: url("../../../assets/img/quotesafter.svg");
          position: absolute;
          background-repeat: no-repeat;
          background-size: 128px;
          width: 100%;
          background-position: 50% 50%;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        h2 {
          margin: 0;
          font-weight: bold;
          font-size: 24px;
          line-height: 35px;
          text-align: center;
          color: #101010;
          font-family: var(--ion-font-family);
          @media only screen and (min-width:768px){
            font-size: 30px;
            line-height: 45px;
        }
        }
      }
      [footname] {
        margin-top: 15px;
        color: #797b7d;
        font-size: 14px;
        text-align: center;
        @media only screen and (min-width:768px){
          font-size: 28px;
      }
      }
    }
  }
}

::ng-deep {
  .swiper-container {
    overflow: initial;
  }
  .swiper-pagination {
    display: none;
  }
}
span.icon-arr {
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  top: 3px;
  font-size: 20px;
  color: #fff;
  align-items: center;
  z-index: 1111;
  @media only screen and (min-width:768px){
    font-size: 30px;
}
}
