<ion-header>
  <ion-toolbar>
    <ion-title>Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div wrapper>
    <img src="assets/img/subicon.png" />
    <h1>For 30 Days</h1>
    <h2>$3.99</h2>
    <p>
      lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magn.dolor sit amet, consectetur
      adipiscing elit
    </p>
    <ion-button color="primary" size="full" shape="round">Buy Now</ion-button>
  </div>
</ion-content>
